@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Original+Surfer&display=swap');


.rounded, .button {
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.text, .button {
    -fx-font-size: 25px;
    -fx-font-family: 'Fredoka One', cursive;
    -fx-text-fill: #eee;
}

.button {
    -fx-background-color: #8e2de2;
    -fx-border-color: #ff6666;
    -fx-padding: 10px;
}

.button:hover, #nicknameField:focused {
    -fx-text-fill: #66aa66;
}

.title {
    -fx-text-fill: #ff6666;
}
.title .text {
    -fx-font-family: 'Fredoka One', cursive;
    -fx-font-size: 70px;
    -fx-stroke: #66aa66;
    -fx-stroke-width: 2px;
}
.subTitle, .score {
    -fx-font-family: 'Fredoka One', cursive;
    -fx-text-fill: #eee;
}

.subTitle .text , .score .text{
    -fx-font-size: 35px;
    -fx-stroke: #ff6666;
    -fx-stroke-width: 2px;
}

.countdown {
    -fx-font-family: 'Fredoka One', cursive;
    -fx-text-fill: #ff6666;
}

.countdown .text {
    -fx-font-size: 90px;
    -fx-stroke: #66aa66;
    -fx-stroke-width: 2px;
}

.whiteBack {
    -fx-background-color: rgba(142, 45, 226, .8);
}




.slider .track {
    -fx-pref-height: 15;
    -fx-background-color: #7D1CD1;

}


.slider .thumb {
    -fx-pref-height: 25;
    -fx-pref-width: 25;
    -fx-background-color: #ff6666;
}

.slider .axis {
    -fx-tick-label-fill: #66aa66;
    -fx-tick-label-font: 15px 'Fredoka One', cursive;
    -fx-tick-label-font-weight: bolder;
}


.menuBackground {
    -fx-background-color: linear-gradient(to bottom, #8e2de2, #4a00e0);
}

#nicknameField {
    -fx-background-color: #8E2DE2;
    -fx-border-color: #7D1CD1;

}