
@font-face {
    font-family: 'Fredoka One';
    src: url('/resources/css/fonts/FredokaOne-Regular.ttf') format('truetype');
}

.rounded, .button {
    -fx-border-width: 2px;
    -fx-background-radius: 12px;
    -fx-border-radius: 10px;
}

.text, .button {
    -fx-font-size: 25px;
    -fx-font-family: 'Fredoka One', cursive;
    -fx-text-fill: #eee;
}

.button, #nicknameField {
    -fx-background-color: #ffffff66;
    -fx-border-color: #ffd60a;
    -fx-padding: 10px;
    -fx-cursor: hand;
    -fx-prompt-text-fill: #eeeeee;
}

.button:hover {
    -fx-text-fill: #00000066;
}

.title {
    -fx-text-fill: #ffd60a;
}
.title .text {
    -fx-font-family: 'Fredoka One', cursive;
    -fx-font-size: 70px;
    -fx-stroke: #ffffffaa;
    -fx-stroke-width: 2px;

}
.subTitle{
    -fx-font-family: 'Fredoka One', cursive;
    -fx-text-fill: #ffffff66;
}

.subTitle .text {
    -fx-font-size: 35px;
    -fx-stroke: #ffffffaa;
    -fx-stroke-width: 2px;
}

.score {
    -fx-font-family: 'Fredoka One', cursive;
    -fx-text-fill: #ffd60a;
}

.score .text {
    -fx-font-size: 35px;
}


.scoreInfo .text{
    -fx-font-family: 'Fredoka One', cursive;
    -fx-font-size: 25px;
}
.scoreInfoRed {
    -fx-text-fill: #ff2222;
}

.scoreInfoGreen {
    -fx-text-fill: #22ff22;
}

.biggerSubTittle .text {
    -fx-font-size: 50px;
}

.countdown {
    -fx-font-family: 'Fredoka One', cursive;
    -fx-text-fill: #ffd60a;
}

.countdown .text {
    -fx-font-size: 90px;
    -fx-stroke: #ffffff;
    -fx-stroke-width: 2px;
}

.whiteBack {
    -fx-background-color: linear-gradient(to right, #ff6d00aa, #f72585aa) ;
}


.slider .track {
    -fx-pref-height: 15;
    -fx-background-color: #ffffff66;
    -fx-border-color: #ffd60a;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;

}

.slider .thumb {
    -fx-pref-height: 25;
    -fx-pref-width: 25;
    -fx-background-color: #ffd60a;
    -fx-border-color: #ffffffaa;
    -fx-border-width: 2px;
    -fx-border-radius: 50%;
    -fx-cursor: closed_hand;

}

.slider .axis {
    -fx-tick-label-fill: #eee;
    -fx-tick-label-font: 20px 'Fredoka One', cursive;
    -fx-tick-label-font-weight: bolder;
}


.menuBackground {
    -fx-background-color: linear-gradient(to bottom, #ff6d00, #f72585);
}

.table-view {
    -fx-background-color: transparent;

}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #ffd60a;
    -fx-background-radius: 10px 10px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
    -fx-font-size: 25px;
    -fx-font-family: 'Fredoka One', cursive;
}

.table-view .column-header .label {
    -fx-text-fill: #ffffff;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-padding: 2 0 2 10px;
    -fx-text-fill: #000000aa;
}
.table-row-cell:odd{
    -fx-background-color: #ffffffaa;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #ccccccaa;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}


.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}


.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #ffd60a;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #ffd60a;
}

/*just errors msg or notifications*/
.alert {
    -fx-font-family: 'Fredoka One', cursive;

}

.alert .text {
    -fx-font-size: 20px;
}

.alertRed {
    -fx-text-fill: #ee2222;
}

.alertGreen {
    -fx-text-fill: #22ee22;
}

.alertWarn {
    -fx-text-fill: #eeee22;
}